<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>position</key>
		<string>{{368,520},{44,44}}</string>
		<key>image</key>
		<string>footballBall</string>
	</dict>
	<dict>
		<key>position</key>
		<string>{{80,330},{58,58}}</string>
		<key>image</key>
		<string>homeFieldPlayer</string>
	</dict>
	<dict>
		<key>position</key>
		<string>{{362,230},{58,58}}</string>
		<key>image</key>
		<string>homeFieldPlayer</string>
	</dict>
	<dict>
		<key>position</key>
		<string>{{362,430},{58,58}}</string>
		<key>image</key>
		<string>homeFieldPlayer</string>
	</dict>
	<dict>
		<key>position</key>
		<string>{{616,330},{58,58}}</string>
		<key>image</key>
		<string>homeFieldPlayer</string>
	</dict>
	<dict>
		<key>position</key>
		<string>{{362,100},{58,58}}</string>
		<key>image</key>
		<string>homeGoalPlayer</string>
	</dict>
	<dict>
		<key>position</key>
		<string>{{80,700},{58,58}}</string>
		<key>image</key>
		<string>visitorFieldPlayer</string>
	</dict>
	<dict>
		<key>position</key>
		<string>{{616,700},{58,58}}</string>
		<key>image</key>
		<string>visitorFieldPlayer</string>
	</dict>
	<dict>
		<key>position</key>
		<string>{{362,600},{58,58}}</string>
		<key>image</key>
		<string>visitorFieldPlayer</string>
	</dict>
	<dict>
		<key>position</key>
		<string>{{362,800},{58,58}}</string>
		<key>image</key>
		<string>visitorFieldPlayer</string>
	</dict>
	<dict>
		<key>position</key>
		<string>{{362,930},{58,58}}</string>
		<key>image</key>
		<string>visitorGoalPlayer</string>
	</dict>
</array>
</plist>
